extends layout.pug

block content
  #container
    h3 Explique o que você precisa
    h4 Receba até 4 orçamentos grátis, online!
    ul#form
    #budget-bar
      #clock-img
      #budget-phrase Orçamentos em até 60 minutos
